<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3"><%=appName%></a>
{{#if session.isAuthenticated}}
  <a class="logout" {{action 'invalidateSession'}}>Logout</a>
{{/if}}
</nav>

{{#if session.isAuthenticated}}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse vh-100">
      <div class="sidebar-sticky pt-3">


        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/home">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/tables">
              Tables
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Models</span>
        </h6>
        <ul class="nav flex-column mb-2">
<% entityNames.forEach(function(entity){ %>           <li class="nav-item">
            <LinkTo @route="display-menuentry" class="nav-link"><%=entity.singular%></LinkTo>
          </li>
<% }) %>         </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      {{outlet}}
      {{#each flashMessages.queue as |flash|}}
        {{flash-message class="notification" flash=flash}}
      {{/each}}
    </main>

  </div>
</div>

{{else}}
  {{outlet}}
  {{#each flashMessages.queue as |flash|}}
    {{flash-message class="notification" flash=flash}}
  {{/each}}
{{/if}}